# Binaries
fortress-linux
fortress.exe
*.exe
*.test

# Ide
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Dependencies
vendor/

# Local config
fortress-alpha.yaml
fortress-beta.yaml
fortress.yaml
/tmp/
